<p style="font-size:20px;text-align:center;"><b>IMG is a University of Pennsylvania tech startup community that meets regularly to develop innovative products and businesses.</b></p> 

<p>Our members live and breathe entrepreneurship and technology. We look for painpoints in life that can be adressed by blah blah blah. If you are interested in helping IMG grow its vision please</p>

<p style="font-size:20px;"><b>Sign up here:</b></p>