<h1>What is IMG?</h1><br />

<p style="font-size:18px;color:#004782;"> IMG's members regularly meet to develop innovative tech products and businesses that aim to make a broad impact on the world. We foster collaboration between Wharton and Engineering undergrads to build effective entrepreneurial teams comprised of members with complementary skills. Our meetings consist of an open environment where students work on their own projects and seek out new partners to join them. We occasionally attract outside speakers to provide feedback on projects and discuss topics that aid students on their entrepreneurial mission.</p><br />
